@layer base {

    * {
        @apply m-0 p-0 box-border;
    }


    html {
        @apply scroll-smooth;
    }

    body {
        @apply bg-background font-default text-text-body;
    }

    h1,h2,h3,h4,h5 {
        @apply text-text-titles font-display font-semibold;
    }

}