@theme {
    --color-primary: #0284C7;
    --color-secondary: #044A6E;

    --color-background: #030208;
    --color-surface: #0A0E1A;

    --color-text-titles: #FFFFFF;
    --color-text-body: #94A3B8;

    --font-display: "Space Grotesk", sans-serif;
    --font-default: "Inter", sans-serif;

    --text-shadow: 0 2px 8px rgba(2, 132, 199, 0.15);
    --shadow: 0 0px 15px rgba(2, 132, 199, 0.10);
    --shadow-hover: 0px 0px 25px rgba(2, 132, 199, 0.15);

    --gradient-metal: linear-gradient(45deg,
            #014466 0%,
            #0284C7 30%,
            #68D0F8 40%,
            #2FA6E1 55%,
            #026B9F 70%,
            #0284C7 100%);

    --breakpoint-xs: 23.4375rem;

}