@layer utilities {
    .grid-design {
        @apply grid grid-cols-4 gap-x-4 gap-y-6 auto-rows-min m-6 xs:m-10 sm:grid-cols-8 md:m-12 lg:grid-cols-12;
    }

    .text-gradient {
        background: var(--gradient-metal);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

}